<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.example.demo.UIApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.UIApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="s">
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name="com.example.demo.activity.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.demo.web.WebActivity"
            android:exported="true">
            <intent-filter>
                <data android:scheme="https" />
                <data android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.activity.MultiFragmentActivity" />
        <activity android:name="com.example.demo.activity.DataBaseActivity" />
        <activity android:name="com.example.demo.activity.RxJavaActivity" />
        <activity android:name="com.example.demo.activity.AnimationActivity" />
        <activity android:name="com.example.demo.activity.WebSocketActivity" />
        <!-- <activity android:name="com.example.demo.ui.activity.WaterMarkActivity" /> -->
        <activity android:name="com.example.demo.activity.AidlActivity" />

        <activity android:name="com.example.demo.activity.camera.TakePictureActivity" />
        <activity android:name="com.example.demo.activity.camera.TakeVideoActivity" />
        <activity android:name="com.example.demo.activity.camera.CameraActivity" />
        <activity android:name="com.example.demo.activity.camera.Camera2Activity" />
        <activity android:name="com.example.demo.activity.camera.AudioActivity" />
        <activity android:name="com.example.demo.activity.bluetooth.BluetoothActivity" />
        <activity android:name="com.example.demo.activity.bluetooth.BluetoothLeActivity" />
        <activity android:name="com.example.demo.activity.databinding.DataBindingActivity" />
        <activity android:name="com.example.demo.activity.HttpActivity" />
        <activity android:name="com.example.demo.activity.edit.EditActivity" />
        <activity android:name="com.example.demo.activity.paging.Paging3Activity" />
        <activity android:name="com.example.demo.ktx.KotlinActivity" />

        <service android:name="com.example.demo.service.AidlService" />
    </application>

</manifest>